---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="sticky top-0 flex items-center justify-between border-b border-gray-6 bg-gray-1/80 py-2 backdrop-blur-sm"
>
  <a
    href="/"
    class="font-serif text-2xl italic focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-7"
  >
    Sameer Jadav
  </a>
  <div class="flex items-center gap-4">
    <HeaderLink href="/blogs">writing</HeaderLink>
    <HeaderLink href="/rss.xml">rss</HeaderLink>
  </div>
</header>
